@use './vars';

.my-input {
  display: inline-flex;
  height: var(--my-input-height);
  line-height: 1;
  font-size: var(--my-input-font-size);
  transition: all 0.2s;
  color: var(--my-input-color);
  background-color: transparent;
  border: 1px solid var(--my-input-border-color);
  border-radius: var(--my-input-border-radius);
  box-sizing: border-box;
  cursor: var(--my-input-cursor);
}

.my-input-text {

}

.my-input-prepend {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0 11px;
  background-color: rgb(0, 0, 0, 0.02);
  border-right: 1px solid var(--my-input-border-color);
}

.my-input-main {
  display: inline-block;
  height: 100%;
  padding: 0 11px;
}

.my-input-prefix {
  display: inline-block;
  margin-right: 8px;

  & .my-icon {
    vertical-align: bottom;
  }
}

.my-input-origin {
  height: 100%;
  padding: 0;
  color: var(--my-input-color);
  background-color: inherit;
  border: none;
  cursor: var(--my-input-cursor);

  &:focus {
    outline: none;
  }
}

.my-input-suffix {
  display: inline-block;
  margin-left: 8px;

  & .my-icon {
    vertical-align: bottom;
  }
}

.my-input-visible, .my-input-clearable {
  cursor: pointer;
}

.my-input-append {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0 11px;
  background-color: rgb(0, 0, 0, 0.02);
  border-left: 1px solid var(--my-input-border-color);
}

