@use './vars';

.my-select {
  position: relative;
  display: inline-block;
  color: var(--my-select-color);
}

.my-select-frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 96px;
  height: var(--my-select-height);
  padding: calc(var(--my-select-height) / 8) calc(var(--my-select-height) / 4);
  line-height: 1;
  font-size: var(--my-select-font-size);
  background-color: var(--my-select-background-color);
  border: 1px solid var(--my-select-border-color);
  border-radius: var(--my-select-border-radius);
  box-sizing: border-box;
  cursor: var(--my-select-cursor);
}

.my-select-placeholder {
  color: var(--my-color-placeholder);
}

.my-select-suffix {
  height: var(--my-select-font-size);
  transition: transform 0.4s;
}

.my-select-options {
  overflow: auto;
  //display: var(--my-select-options-display);
  position: absolute;
  top: calc(var(--my-select-height) + 1px);
  left: 0;
  min-width: 100%;
  //height: var(--my-select-options-height);
  transition: all 2s;
  border: 1px solid var(--my-select-border-color);
  border-radius: var(--my-select-border-radius);
  box-sizing: border-box;
}

.my-select-option {
  line-height: var(--my-select-height);
  font-size: var(--my-select-font-size);
  padding: 0 calc(var(--my-select-height) / 4);
  background-color: var(--my-select-option-background-color);
  box-sizing: border-box;
  cursor: var(--my-select-cursor);
}
