:root {
  --my-height-small: 24px;
  --my-height: 32px;
  --my-height-large: 40px;
  --my-font-size-small: 12px;
  --my-font-size: 14px;
  --my-font-size-large: 16px;
  --my-border-radius: 4px;
}

:root {
  --my-color-white: #ffffff;
  --my-color-black: #000000;
}

:root {
  --my-color-primary: #409eff;
  --my-color-text: rgb(0, 0, 0, 0.8);
  --my-color-text-disabled: rgb(0, 0, 0, 0.3);
  --my-border-color: #d9d9d9;
  --my-border-color-hover: var(--my-color-primary);
}
