/* 尺寸 */
:root {
  --my-height-small: 24px;
  --my-height: 32px;
  --my-height-large: 40px;
  --my-font-size-small: 12px;
  --my-font-size: 14px;
  --my-font-size-large: 16px;
  --my-border-radius: 4px;
}

/* 基本颜色 */
:root {
  --my-color-white: #ffffff;
  --my-color-black: #000000;
  --my-color-blue: #409eff;
}

/* 业务颜色 */
:root {
  --my-color-primary: var(--my-color-blue);
  --my-color: #606266;
  --my-color-disabled: #a8abb2;
  --my-color-hover: rgb(0, 0, 0, 0.3);
  --my-background-color: transparent;
  --my-background-color-disabled: #f5f7fa;
  --my-background-color-hover: var(--my-color-blue);
  --my-border-color: #d9d9d9;
  --my-border-color-disabled: #e4e7ed;
  --my-border-color-hover: var(--my-color-blue);
}

:root {
  --my-cursor-text: text;
  --my-cursor-pointer: pointer;
  --my-cursor-disabled: not-allowed;
}
