:root {
  --my-height-small: 24px;
  --my-height: 32px;
  --my-height-large: 40px;
  --my-font-size-small: 12px;
  --my-font-size: 14px;
  --my-font-size-large: 16px;
  --my-color-primary: #409eff;
}

:root {
  --my-color-white: #ffffff;
  --my-color-black: #000000;
}
