@use './vars';

.my-button {
  height: var(--my-button-height);
  line-height: 1;
  font-size: var(--my-button-font-size);
  padding: var(--my-button-padding);
  transition: all 2s;
  color: var(--my-button-color);
  background-color: var(--my-button-background-color);
  border: 1px solid var(--my-button-border-color);
  border-radius: 4px;
  cursor: var(--my-button-cursor);
  user-select: none; // 是否允许用户选中文本等内容.

  .my-icon {
    vertical-align: bottom;
  }

  .text {
    &:not(:first-child) {
      margin-left: var(--my-button-text-margin-left);
    }
  }
}

.my-button-round {
  border-radius: calc(var(--my-button-height) / 2);
}

.my-button-circle {
  width: var(--my-button-height);
  padding: 0;
  border-radius: 50%;

  .text {
    white-space: nowrap;
  }
}

.my-button-block {
  width: 100%;
}

.my-button-default:hover:not(.my-button-loading, .my-button-disabled) {
  color: var(--my-color-primary);
  border-color: var(--my-color-primary);
}

.my-button-primary:hover:not(.my-button-loading, .my-button-disabled) {
  border-color: #409eff7f;
  background-color: #409eff7f;
}

.my-button-loading {


  .my-icon {
    animation: rotating 1s linear infinite;
  }
}

.my-button-disabled {

}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
