@use '@/styles/vars';

.my-button {
  --my-button-height: 32px;
  --my-button-font-size: 14px;
  --my-button-padding: 0px 15px;
  --my-button-text-margin-left: 6px;
  --my-button-background-color: transparent;
  --my-button-border-color: #d9d9d9;
  --my-button-color: #606266;
  --my-button-cursor: pointer;
}

.my-button-large {
  --my-button-height: 40px;
  --my-button-font-size: 16px;
  --my-button-padding: 0px 19px;
  --my-button-text-margin-left: 8px;
}

.my-button-small {
  --my-button-height: 24px;
  --my-button-font-size: 12px;
  --my-button-padding: 0px 11px;
  --my-button-text-margin-left: 4px;
}

.my-button-primary {
  --my-button-background-color: #409eff;
  --my-button-border-color: #409eff;
  --my-button-color: #ffffff;
}

.my-button-loading {
  --my-button-cursor: default;
}

.my-button-disabled {
  --my-button-cursor: not-allowed;
}
